@font-face {
  font-family: aeonik;
  src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}

:root {
  --pre: #EEEEEE;
  --sec: #222831;
  --tri1: #00ADB5;
  --tri2: #393E46;
  --red: red;
  --green: rgb(0, 128, 38);
  --blue: rgb(0, 89, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pre);
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  overflow: hidden;
}
.nav {
  position: absolute;
  z-index: 4;
  bottom: -1rem;
  width: 30%;
  right: 0;
  margin: 1rem 40px;
  background-color: var(--tri2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  span {
    color: var(--pre);
    font-weight: 100;
    font-style: italic;
    span a{
      font-style: normal;
      text-decoration: none;
    }

  }
  
  button {
    font-size: 1rem;
    background-color: var(--pre);
    padding: 3px;
    border: none;
    border-radius: 10px;
    color: var(--tri1);
    cursor: pointer;
    font-weight: bolder;
    transition: all ease-in-out 0.1s;
    &:active {
      scale: 0.9;
    }
    i{
      color: var(--tri1);
    }
  }
}
.main {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  .elems {
    height: 100%;
    width: 100%;
    padding: 0 40px;
    position: absolute;
    header {
      height: 40%;
      width: 100%;
      background: var(--tri2);
      background-image: url(https://images.unsplash.com/photo-1561484930-998b6a7b22e8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: center;
      background-size: cover;
      margin-bottom: 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
      .header1 {
        text-shadow: 1px 1px 5px black;
        h2 {
          font-size: 20px;
          font-weight: 500;
        }
        h1 {
          font-size: 50px;
          font-weight: 600;
          margin-bottom: 40px;
        }
        h4 {
          font-size: 20px;
          font-weight: 500;
        }
      }
      .header2 {
        text-shadow: 1px 1px 5px black;
        h2 {
          font-size: 50px;
          font-weight: 500;
        }
        h4 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 20px;
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .allFeatures {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 42px;
      .elem {
        background-color: var(--tri1);
        height: 300px;
        width: 220px;
        border-radius: 10px;
        font-size: 15px;
        overflow: hidden;
        position: relative;
        transition: all ease-in 0.2s;
        cursor: pointer;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

        img {
          height: 100%;
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
          transition: all ease-in 0.2s;
        }

        h2 {
          position: absolute;
          bottom: 4%;
          right: 4%;
          text-align: left;
          padding-left: 1rem;
          width: 100%;
          font-weight: 400;
          font-size: 28px;
          transition: all ease 0.2s;
          background: linear-gradient(
            90deg,
            rgba(117, 117, 117, 0.486),
            transparent
          );
        }

        &:active {
          scale: 0.97;
        }
        &:hover {
          img {
            scale: 1.2;
          }
          h2 {
            color: var(--pre);
          }
        }
      }
    }
  }
  .fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    .back {
      position: absolute;
      right: 5%;
      background-color: var(--red);
      border-radius: 10px;
      padding: 15px 22px;
      border: none;
      font-size: 25px;
      font-weight: 500;
      cursor: pointer;

      &:active {
        scale: 0.97;
      }
    }
  }
  .todo-list-page {
    h2 {
      font-size: 50px;
    }
    .todo-container {
      height: 80%;
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      .add-task {
        width: 33%;
        height: 100%;
        background-color: var(--tri2);
        border-radius: 20px;
        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 30px;
          input[type="text"] {
            @extend textarea;
          }
          textarea {
            padding: 10px 20px;
            width: 100%;
            font-size: 29px;
            background-color: var(--pre);
            border-radius: 5px;
            color: var(--sec);
            border: none;
            margin-bottom: 20px;
            outline: none;
            font-weight: 500;
          }

          .mark-imp {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 10px;
            width: 100%;
            margin-bottom: 20px;
            gap: 30px;
            input {
              scale: 2;
            }
            label {
              font-size: 20px;
            }
          }
          button {
            padding: 10px 20px;
            width: 100%;
            font-size: 26px;
            font-weight: 700;
            background-color: var(--tri1);
            border-radius: 5px;
            border: none;
            margin-bottom: 20px;
            outline: none;
            cursor: pointer;
            transition: all ease 0.3s;
            &:active {
              scale: 0.95;
            }
          }
        }
      }
      .all-task {
        width: 65%;
        height: 100%;
        background-color: var(--tri2);
        border-radius: 20px;
        padding: 20px;
        overflow: auto;
        .task {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          background-color: var(--pre);
          padding: 20px 40px;
          border-radius: 10px;
          margin-bottom: 10px;
          h5 {
            color: var(--sec);
            font-size: 30px;
            display: flex;
            gap: 5px;
            text-transform: capitalize;
            span[class="true"] {
              background-color: var(--red);
              border-radius: 10px;
              padding: 5px;
              font-size: 10px;
              align-self: flex-start;
              opacity: 1;
            }
            span[class="false"] {
              opacity: 0;
            }
          }
          button {
            padding: 15px 30px;
            background-color: var(--green);
            font-size: 18px;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
  }
  .daily-planer-page {
    h2 {
      font-size: 40px;
    }
    .day-planner {
      background-color: var(--tri2);
      height: 85%;
      margin-top: 40px;
      width: 100%;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      justify-content: space-between;
      align-items: flex-start;
      .day-planner-time {
        display: flex;
        align-items: center;
        position: relative;
        width: 49%;
        margin-bottom: 10px;
        p {
          position: absolute;
          top: 10%;
          left: 1%;
          font-size: 18px;
        }
        input {
          padding: 20px 40px;
          width: 100%;
          background-color: var(--sec);
          border: none;
          font-size: 28px;
          padding-top: 34px;
          outline: none;
          border-radius: 5px;
        }
      }
    }
  }
  .motivational-page {
    position: relative;
    .motivation-container {
      height: 50%;
      width: 30%;
      border-radius: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        background-color: var(--tri1);
        filter: blur(150px);
        position: absolute;

        scale: 1.1;
      }
      .motivational-wrapper {
        @extend .motivation-container;
        background-color: var(--tri1);
        height: fit-content;
        width: 100%;
        padding: 10px;
        z-index: 1;
        &:after {
          display: none;
        }
        .motivation-heading {
          background-color: var(--tri2);
          padding: 20px;
          border-radius: 25px;
          font-size: 20px;
          h2 {
            font-weight: 500;
          }
        }
        .motivation-quote {
          margin-top: 20px;
          background-color: transparent;
          padding: 10px;
          font-size: 15px;
          h2 {
            font-weight: 500;
            color: var(--sec);
          }
        }
        .motivation-auther {
          margin-bottom: 20px;
          margin-right: 20px;
          text-align: right;
          small {
            color: var(--sec);
            font-size: 15px;
            font-weight: 800;
          }
        }
      }
    }
  }
  .pomodoro-page {
    h2 {
      font-size: 60px;
      width: fit-content;
      position: relative;
    }
    .session {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0%);
      background-color: var(--green);
      padding: 15px 30px;
      font-size: 30px;
      border-radius: 5px;
    }
    .pomo-timer {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h1 {
        font-size: 150px;
      }

      button {
        background-color: var(--tri2);
        padding: 15px 40px;
        margin: 30px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 2px black;
        transition: all ease-in-out 0.1s;
        cursor: pointer;
        &:active {
          box-shadow: 0px 0px 2px black;
          transform: translate(1%, 1%);
        }
      }
    }
  }
  .daily-goals-page {
    position: relative;
    height: 100%;
    width: 100%;
    .goal-div {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      .goal-txt {
        font-size: 6rem;
        font-weight: 100;
        width: 90vw;
        text-align: center;
      }
      input {
        background-color: transparent;
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid;
        border-color: var(--tri1);
        padding: 2px;
        width: 80vw;
        font-size: 6rem;
      }
    }
    .set-btn {
      position: absolute;
      left: 50%;
      bottom: 30%;
      transform: translate(-50%, 50%);
      background-color: var(--tri2);
      font-size: 2rem;
      border: none;
      border-radius: 2rem;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
